.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 1.5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}

nav {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.lower {
  background: rgb(0 0 0 / 38%) !important;
}
