.container {
  column-count: 5;
  column-gap: 1rem;
  padding: 100px;
}

.note:not(:first-of-type) {
  margin: 1rem 0;
  /* column-fill: balance; */
  break-inside: avoid-column;
  height: fit-content;
  background-color: rgb(236, 217, 255);
}

.note:first-of-type {
  margin: -0.9rem 0;
  break-inside: avoid-column;
  height: fit-content;
  background-color: rgb(236, 217, 255);
}

.close-tool-tip {
  color: rgba(0, 0, 0, 0.87);
}

.app-filter:focus-within :is(.some-content, .some-title) {
  display: block;
}

.some-title {
  display: block;
}

.take-a-note {
  padding: 2px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 8px;
  text-align: center;
  width: 600px;
  display: flex;
  margin: 43px;
  flex-direction: column;
}

.take-a-note input {
  outline: none;
  border: 0;
}

.tool-tip-btns {
  transition: all 0.3s;
  padding-right: 25px;
  align-items: center;
  display: flex;
  color: white;
  justify-content: space-between;
}

.notes-list {
  list-style-type: none;
}

.tool-tip-btns button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.note {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.note:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.note-img-container {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-img-container img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.preview-tools {
  position: relative;
  padding: 10px;
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.preview-tools > * {
  cursor: pointer;
}

.opacity {
  opacity: 1;
}

.note-preview-section {
  border-radius: 15px;
  color: black;
}

.color input {
  cursor: pointer;
  position: relative;
  z-index: 2;
  opacity: 0;
}

.color i {
  z-index: 1;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.noOpacity {
  opacity: 0;
}

.note-preview-container {
  padding: 15px;
  transition: all 0.3s;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.app-filter {
  display: block;
}

.app-filter {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.custom-file-input:hover::before {
  border-color: black;
}

/* .some-content,
.some-title {
  display: none;
} */

[data-title] {
  position: relative;
}

[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  font-size: 12px;
  background: #333;
  color: #fff;
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  text-transform: capitalize;
  bottom: -25px;
  width: max-content;
  left: 12px;
}
