/* we need to give grid layout */

.mail-index {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    'header header header'
    'sidebar content content'
    'sidebar footer footer';
}
